{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
</head>
<body>
    <center>
        <h1>welcome to Bangalore</h1>
        <button class="btn btn-danger">welcome</button>

        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/aa1.jpg' %}">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/aa2.jpeg' %}">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/aa3.jpg' %}">
                </div>
            </div>

        </div>
    </center>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script>
        $('.carousel').carousel({
            'interval':2000
        })
    </script>
</body>
</html>